{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<div class="container text-center mt-4">
    <h3 class="text-white">Sign In</h3>
</div>

<div class="mt-4 container text-center">

<form method="post">
  <div class="form-group">
    <label class="text-white">Username</label>
    <input type="email" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <label class="text-white">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mt-4">Sign in</button>
</form>

</div>

<div class="text-white text-center container mt-4">
    Are you new here ? <a class="text-white" href="{{ path('register') }}">Create an account!</a>
</div>
{% endblock %}
